body{
    background-color: blueviolet;
    text-align: center;
}
table{
    background-color: whitesmoke;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: arial;
    border-collapse: collapse;
    width: 50%;
}
button{
    background: oldlace;
    border: oldlace;
}